[Unit]
Description=Run Aeronaut
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi
ExecStartPre=/bin/sh -c 'until ping -c1 google.com; do sleep 1; done;'
ExecStart=/home/pi/aeronaut-build/run.sh

[Install]
WantedBy=multi-user.target